.mediaViewInfo {
    --web-view-name: Our Story – 1;
    --web-view-id: Our_Story__1;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-refresh-for-changes: true;
    --web-application: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: Our_Story__1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #1d1e18;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f6039f;
}

.btncontainer {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.btn {
    margin-top: calc(50% + 25px);
    top: -160px;
    position: relative;
    display: inline-block;
    width: 277px;
    height: 70px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: 0.045em;
    overflow: hidden;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
    //stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn span {
    background: rgb(255, 130, 130);
    background: -moz-linear-gradient( left, rgba(255, 130, 130, 1) 0%, rgba(225, 120, 237, 1) 100%);
    background: -webkit-linear-gradient( left, rgba(255, 130, 130, 1) 0%, rgba(225, 120, 237, 1) 100%);
    background: linear-gradient( to right, rgba(255, 130, 130, 1) 0%, rgba(225, 120, 237, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #f0edee;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

.Our_Story__1_Class {
    position: absolute;
    width: 1920px;
    height: 1600px;
    top: 0px;
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden;
    --web-view-name: Our Story – 1;
    --web-view-id: Our_Story__1;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-refresh-for-changes: true;
    --web-application: true;
    --web-enable-deep-linking: true;
}

.Footer_Class {
    position: absolute;
    width: 1920px;
    height: 726px;
    left: 0px;
    top: 895px;
    overflow: visible;
}

.Footer_Background_Class {
    fill: rgba(0, 0, 0, 1);
}

.Footer_Background {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    position: absolute;
    overflow: visible;
    width: 1938px;
    height: 744px;
    left: 0px;
    top: 0px;
}

.Copyright_Icon_Class {
    position: absolute;
    width: 14px;
    height: 16px;
    left: 863px;
    top: 599px;
    overflow: visible;
}

.C_Circle_Class {
    fill: transparent;
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.C_Circle {
    position: absolute;
    overflow: visible;
    width: 14px;
    height: 14px;
    left: 0px;
    top: 1px;
}

.C_Class {
    left: 3px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    text-align: right;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 11px;
    color: rgba(152, 150, 150, 1);
}

.Copyright_Tech_Club_2020_Class {
    left: 880px;
    top: 597px;
    position: absolute;
    overflow: visible;
    width: 179px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    color: rgba(152, 150, 150, 1);
}

.Terms__Conditions_Class {
    left: 1414px;
    top: 520px;
    position: absolute;
    overflow: visible;
    width: 175px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(152, 150, 150, 1);
}

.Privacy_Policy_Class {
    left: 1449px;
    top: 485px;
    position: absolute;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(152, 150, 150, 1);
}

.Legal_Class {
    left: 1476.5px;
    top: 429px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    color: rgba(152, 150, 150, 1);
}

.techclubnmimsgmailcom_Class {
    left: 853px;
    top: 520px;
    position: absolute;
    overflow: visible;
    width: 255px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(152, 150, 150, 1);
}

.Mail_Icon_Class {
    fill: rgba(152, 150, 150, 1);
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Mail_Icon {
    overflow: visible;
    position: absolute;
    width: 31.18px;
    height: 23.635px;
    left: 813px;
    top: 521.473px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.ID9987733926_Class {
    left: 924px;
    top: 485px;
    position: absolute;
    overflow: visible;
    width: 107px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(152, 150, 150, 1);
}

.Phone_Icon_Class {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 893px;
    top: 488px;
    overflow: visible;
}

.Path_1021_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_1021 {
    overflow: visible;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Contact_Us_Class {
    left: 891px;
    top: 429px;
    position: absolute;
    overflow: visible;
    width: 139px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    color: rgba(152, 150, 150, 1);
}

.ID7th_Floor_V_L_Mehta_Road_Vil_Class {
    left: 217px;
    top: 491px;
    position: absolute;
    overflow: visible;
    width: 354px;
    height: 59px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(152, 150, 150, 1);
}

.Location_Icon_Class {
    position: absolute;
    width: 14px;
    height: 20px;
    left: 210px;
    top: 493px;
    overflow: visible;
}

.Path_1023_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_1023 {
    overflow: visible;
    position: absolute;
    width: 14px;
    height: 20px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Address_Class {
    left: 344px;
    top: 429px;
    position: absolute;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    color: rgba(152, 150, 150, 1);
}

.Linkedin_Icon_Class {
    position: absolute;
    width: 70px;
    height: 70.805px;
    left: 1030px;
    top: 273px;
    overflow: visible;
}

.Linkedin_Circle_Class {
    fill: transparent;
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Linkedin_Circle {
    position: absolute;
    overflow: visible;
    width: 70px;
    height: 70.805px;
    left: 0px;
    top: 0px;
}

.linkedin_Class {
    position: absolute;
    width: 19.31px;
    height: 18.257px;
    left: 25.747px;
    top: 26.551px;
    overflow: visible;
}

.Path_213_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_213 {
    overflow: visible;
    position: absolute;
    width: 12.48px;
    height: 13.217px;
    left: 6.83px;
    top: 5.043px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_214_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_214 {
    overflow: visible;
    position: absolute;
    width: 4.004px;
    height: 12.893px;
    left: 0.319px;
    top: 5.365px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_215_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_215 {
    overflow: visible;
    position: absolute;
    width: 4.638px;
    height: 4.66px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Insta_Icon_Class {
    position: absolute;
    width: 70px;
    height: 70.805px;
    left: 925px;
    top: 273px;
    overflow: visible;
}

.Instagram_Circle_Class {
    fill: transparent;
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Instagram_Circle {
    position: absolute;
    overflow: visible;
    width: 70px;
    height: 70.805px;
    left: 0px;
    top: 0px;
}

.Camera_Class {
    fill: rgba(152, 150, 150, 1);
}

.Camera {
    overflow: visible;
    position: absolute;
    width: 19.311px;
    height: 19.314px;
    left: 25.746px;
    top: 25.746px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Facebook_Icon_Class {
    position: absolute;
    width: 70px;
    height: 70.921px;
    left: 820px;
    top: 273px;
    overflow: visible;
}

.Facebook_Ellipse_Class {
    fill: transparent;
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Facebook_Ellipse {
    position: absolute;
    overflow: visible;
    width: 70px;
    height: 70.922px;
    left: 0px;
    top: 0px;
}

.f_Class {
    fill: rgba(152, 150, 150, 1);
}

.f {
    overflow: visible;
    position: absolute;
    width: 10.494px;
    height: 20.094px;
    left: 29.738px;
    top: 25.336px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Developed_By_Tech_Club_Class {
    left: 810px;
    top: 216px;
    position: absolute;
    overflow: visible;
    width: 301px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    color: rgba(152, 150, 150, 1);
}

.Tech_Club_Logo_Class {
    position: absolute;
    width: 163px;
    height: 150px;
    left: 879px;
    top: 50px;
    overflow: visible;
}

.Tech_Club_Logo_Glow {
    position: absolute;
    width: 163px;
    height: 150px;
    left: 879px;
    top: 50px;
    overflow: visible;
    filter: blur(50px);
}

.Brain_Photo_Class {
    position: absolute;
    width: 449px;
    height: 520px;
    left: 1257px;
    top: 298px;
    overflow: visible;
}

.Text_Box_Class {
    position: absolute;
    width: 928px;
    height: 696px;
    left: 238px;
    top: 183px;
    overflow: visible;
}

.Lorem_ipsum_dolor_sit_amet_con_Class {
    left: 303px;
    top: 279px;
    position: absolute;
    overflow: hidden;
    width: 838px;
    height: 557px;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    color: rgba(246, 3, 159, 1);
}

.About_Us_Class {
    left: 255px;
    top: 165px;
    position: absolute;
    overflow: visible;
    width: 181px;
    white-space: nowrap;
    text-align: center;
    font-family: "Press Start 2P", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    color: rgba(246, 3, 159, 1);
}

.Burger_Class {
    position: fixed;
    width: 62.5px;
    height: 40px;
    left: 1643.5px;
    top: 50px;
    overflow: visible;
}

.Line_3_Class {
    fill: transparent;
    stroke: rgba(246, 3, 159, 1);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_3 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    overflow: visible;
    position: absolute;
    width: 88px;
    height: 26px;
    left: 0px;
    top: 40px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Line_2_Class {
    fill: transparent;
    stroke: rgba(246, 3, 159, 1);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_2 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    overflow: visible;
    position: absolute;
    width: 88px;
    height: 26px;
    left: 0px;
    top: 20px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Line_1_Class {
    fill: transparent;
    stroke: rgba(246, 3, 159, 1);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_1 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    overflow: visible;
    position: absolute;
    width: 66px;
    height: 26px;
    left: 22.5px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Join_Button_Class {
    position: absolute;
    width: 200px;
    height: 72.727px;
    left: 1354.5px;
    top: 44px;
    overflow: visible;
}

.Button_Class {
    fill: transparent;
    stroke: rgba(246, 3, 159, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Button {
    position: absolute;
    overflow: visible;
    width: 200px;
    height: 52.727px;
    left: 0px;
    top: 0px;
}

.JOIN_Class {
    left: 91.5px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 79px;
    white-space: nowrap;
    text-align: left;
    font-family: "Press Start 2P", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(246, 3, 159, 1);
}

.Login_Button_Class {
    position: absolute;
    width: 200px;
    height: 72.727px;
    left: 1050.5px;
    top: 44px;
    overflow: visible;
}

.Button_da_Class {
    fill: transparent;
    stroke: rgba(246, 3, 159, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Button_da {
    position: absolute;
    overflow: visible;
    width: 200px;
    height: 52.727px;
    left: 0px;
    top: 0px;
}

.LOGIN_Class {
    left: 85px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 99px;
    white-space: nowrap;
    text-align: left;
    font-family: "Press Start 2P", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgb(250, 3, 164);
}

.Counter_Class {
    position: absolute;
    width: 200px;
    height: 231px;
    left: 600px;
    top: -45px;
    overflow: visible;
}

.Respawn_Logo_Class {
    position: absolute;
    width: 350px;
    height: auto;
    left: 34px;
    top: 3px;
    overflow: visible;
}