.mediaViewInfo {
    --web-view-name: Support – 1;
    --web-view-id: Support__1;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-refresh-for-changes: true;
    --web-application: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: Support__1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #1d1e18;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #f6039f;
}

.btncontainer {
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.btn {
    margin-top: calc(50% + 25px);
    top: -160px;
    position: relative;
    display: inline-block;
    width: 277px;
    height: 70px;
    font-size: 1em;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 17px;
    letter-spacing: 0.045em;
    overflow: hidden;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
}

.btn svg rect {
    //stroke: #EC0033;
    stroke-width: 4;
    stroke-dasharray: 353, 0;
    stroke-dashoffset: 0;
    -webkit-transition: all 600ms ease;
    transition: all 600ms ease;
}

.btn span {
    background: rgb(255, 130, 130);
    background: -moz-linear-gradient( left, rgba(255, 130, 130, 1) 0%, rgba(225, 120, 237, 1) 100%);
    background: -webkit-linear-gradient( left, rgba(255, 130, 130, 1) 0%, rgba(225, 120, 237, 1) 100%);
    background: linear-gradient( to right, rgba(255, 130, 130, 1) 0%, rgba(225, 120, 237, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff8282', endColorstr='#e178ed', GradientType=1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #f0edee;
}

.btn:hover svg rect {
    stroke-width: 4;
    stroke-dasharray: 196, 543;
    stroke-dashoffset: 437;
}

.form {
    display: block;
    width: 0px;
    height: 0px;
    padding: 32px;
    background-color: #04050096;
    border-radius: 13px;
}

.form__field {
    display: grid;
    gap: 24px;
    margin-bottom: 32px;
}

.input-group {
    width: 100%;
    height: auto;
}

.input-group__label {
    display: block;
    padding-left: 10px;
    font-size: 20px;
    letter-spacing: 0.05em;
    color: #f0edee;
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
    margin-bottom: 8px;
}

.input-group__input {
    display: block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    background-color: rgb(0, 0, 0);
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #f0edee;
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 30px;
    text-align: center;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px rgb(0, 0, 0);
    transition: all 0.2s ease-in-out;
}

.input-group__input:focus {
    box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px rgb(0, 0, 0);
}

.button {
    position: relative;
    top: 240px;
    background-color: transparent;
    color: #f0edee;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.07em;
    text-shadow: 1px 1px 0 rgb(0, 0, 0);
    padding: 8px 20px;
    border: 0;
    border-radius: 30px;
    box-shadow: 3px 3px 5px rgba(206, 5, 98, 1), -4px -4px 10px rgb(0, 0, 0);
    outline: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    box-shadow: -2px -2px 5px rgb(0, 0, 0), 2px 2px 5px rgba(206, 5, 98, 1);
}

.button:active {
    box-shadow: inset 2px 2px 3px rgba(206, 5, 98, 1), inset -2px -2px 3px rgb(0, 0, 0);
}

.Support__1_Class {
    position: absolute;
    width: 1920px;
    height: 1600px;
    background: linear-gradient( 180deg, rgba(206, 5, 98, 1) 0%, rgba(235, 7, 238, 1) 46.42%, rgba(164, 8, 213, 1) 100%);
    overflow: hidden;
    --web-view-name: Support – 1;
    --web-view-id: Support__1;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-refresh-for-changes: true;
    --web-application: true;
    --web-enable-deep-linking: true;
}

.Support_Background_Class {
    position: absolute;
    width: 1920px;
    height: 1440px;
    left: 0px;
    top: -114px;
    overflow: visible;
}

.Footer_Class {
    position: absolute;
    width: 1920px;
    height: 700px;
    left: 0px;
    top: 900px;
    overflow: visible;
}

.Footer_Background_Class {
    fill: rgba(0, 0, 0, 1);
}

.Footer_Background {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    position: absolute;
    overflow: visible;
    width: 1938px;
    height: 718px;
    left: 0px;
    top: 0px;
}

.Copyright_Icon_Class {
    position: absolute;
    width: 14px;
    height: 15px;
    left: 863px;
    top: 577.549px;
    overflow: visible;
}

.C_Circle_Class {
    fill: transparent;
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.C_Circle {
    position: absolute;
    overflow: visible;
    width: 14px;
    height: 13.498px;
    left: 0px;
    top: 0.963px;
}

.C_Class {
    left: 3px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 9px;
    white-space: nowrap;
    text-align: right;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 10px;
    color: rgba(152, 150, 150, 1);
}

.Copyright_Tech_Club_2020_Class {
    left: 880px;
    top: 575.619px;
    position: absolute;
    overflow: visible;
    width: 167px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 13px;
    color: rgba(152, 150, 150, 1);
}

.Terms__Conditions_Class {
    left: 1414px;
    top: 500.713px;
    position: absolute;
    overflow: visible;
    width: 175px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(152, 150, 150, 1);
}

.Privacy_Policy_Class {
    left: 1449px;
    top: 467.012px;
    position: absolute;
    overflow: visible;
    width: 121px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(152, 150, 150, 1);
}

.Legal_Class {
    left: 1476.5px;
    top: 412.859px;
    position: absolute;
    overflow: visible;
    width: 67px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    color: rgba(152, 150, 150, 1);
}

.techclubnmimsgmailcom_Class {
    left: 853px;
    top: 500.713px;
    position: absolute;
    overflow: visible;
    width: 255px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(152, 150, 150, 1);
}

.Mail_Icon_Class {
    fill: rgba(152, 150, 150, 1);
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Mail_Icon {
    overflow: visible;
    position: absolute;
    width: 31.18px;
    height: 23.635px;
    left: 813px;
    top: 502.195px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.ID9987733926_Class {
    left: 924px;
    top: 467.012px;
    position: absolute;
    overflow: visible;
    width: 107px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(152, 150, 150, 1);
}

.Phone_Icon_Class {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 893px;
    top: 470.078px;
    overflow: visible;
}

.Path_1021_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_1021 {
    overflow: visible;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Contact_Us_Class {
    left: 891px;
    top: 412.859px;
    position: absolute;
    overflow: visible;
    width: 139px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    color: rgba(152, 150, 150, 1);
}

.ID7th_Floor_V_L_Mehta_Road_Vil_Class {
    left: 217px;
    top: 471.859px;
    position: absolute;
    overflow: visible;
    width: 354px;
    height: 59px;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 18px;
    color: rgba(152, 150, 150, 1);
}

.Location_Icon_Class {
    position: absolute;
    width: 14px;
    height: 20px;
    left: 210px;
    top: 474.844px;
    overflow: visible;
}

.Path_1023_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_1023 {
    overflow: visible;
    position: absolute;
    width: 14px;
    height: 20px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Address_Class {
    left: 344px;
    top: 412.859px;
    position: absolute;
    overflow: visible;
    width: 101px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    color: rgba(152, 150, 150, 1);
}

.Linkedin_Icon_Class {
    position: absolute;
    width: 70px;
    height: 70.805px;
    left: 1030px;
    top: 263.223px;
    overflow: visible;
}

.Linkedin_Circle_Class {
    fill: transparent;
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Linkedin_Circle {
    position: absolute;
    overflow: visible;
    width: 70px;
    height: 70.805px;
    left: 0px;
    top: 0px;
}

.linkedin_Class {
    position: absolute;
    width: 19.31px;
    height: 18.257px;
    left: 25.747px;
    top: 26.553px;
    overflow: visible;
}

.Path_213_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_213 {
    overflow: visible;
    position: absolute;
    width: 12.48px;
    height: 13.217px;
    left: 6.83px;
    top: 5.041px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_214_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_214 {
    overflow: visible;
    position: absolute;
    width: 4.004px;
    height: 12.893px;
    left: 0.319px;
    top: 5.365px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Path_215_Class {
    fill: rgba(152, 150, 150, 1);
}

.Path_215 {
    overflow: visible;
    position: absolute;
    width: 4.638px;
    height: 4.66px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Insta_Icon_Class {
    position: absolute;
    width: 70px;
    height: 70.805px;
    left: 925px;
    top: 263.223px;
    overflow: visible;
}

.Instagram_Circle_Class {
    fill: transparent;
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Instagram_Circle {
    position: absolute;
    overflow: visible;
    width: 70px;
    height: 70.805px;
    left: 0px;
    top: 0px;
}

.Camera_Class {
    fill: rgba(152, 150, 150, 1);
}

.Camera {
    overflow: visible;
    position: absolute;
    width: 19.311px;
    height: 19.314px;
    left: 25.746px;
    top: 25.746px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Facebook_Icon_Class {
    position: absolute;
    width: 70px;
    height: 70.921px;
    left: 820px;
    top: 263.223px;
    overflow: visible;
}

.Facebook_Ellipse_Class {
    fill: transparent;
    stroke: rgba(152, 150, 150, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Facebook_Ellipse {
    position: absolute;
    overflow: visible;
    width: 70px;
    height: 70.922px;
    left: 0px;
    top: 0px;
}

.f_Class {
    fill: rgba(152, 150, 150, 1);
}

.f {
    overflow: visible;
    position: absolute;
    width: 10.494px;
    height: 20.094px;
    left: 29.738px;
    top: 25.336px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Developed_By_Tech_Club_Class {
    left: 810px;
    top: 207.873px;
    position: absolute;
    overflow: visible;
    width: 301px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 25px;
    color: rgba(152, 150, 150, 1);
}

.Tech_Club_Logo_Class {
    position: absolute;
    width: 163px;
    height: 150px;
    left: 879px;
    top: 50px;
    overflow: visible;
}

.Tech_Club_Logo_Glow {
    position: absolute;
    width: 163px;
    height: 150px;
    left: 879px;
    top: 50px;
    overflow: visible;
    filter: blur(50px);
}

.Black_Tint_Class {
    fill: rgba(8, 2, 23, 0.502);
}

.Black_Tint {
    position: absolute;
    overflow: visible;
    width: 1920px;
    height: 900px;
    left: 0px;
    top: 0px;
}

.Big_Container_Class {
    opacity: 0.8;
    fill: rgba(8, 2, 23, 1);
}

.Big_Container {
    position: absolute;
    overflow: visible;
    width: 1500px;
    height: 672px;
    left: 210px;
    top: 180px;
}

.Content_Input_Class {
    position: absolute;
    width: 986px;
    height: 224.525px;
    left: 467px;
    top: 586px;
    overflow: visible;
}

.Container_Class {
    fill: rgba(48, 46, 53, 1);
}

.Container {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    position: absolute;
    overflow: visible;
    width: 1004px;
    height: 242.525px;
    left: 0px;
    top: 0px;
}

.Type_here_Class {
    left: 2px;
    top: -40px;
    position: absolute;
    overflow: visible;
    width: 988.5px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: rgba(112, 112, 112, 1);
}

.Pencil_Icon_Class {
    opacity: 0.65;
    position: absolute;
    width: 17.002px;
    height: 17.003px;
    left: 422px;
    top: 27.998px;
    overflow: visible;
}

.Pencil_Path_Class {
    fill: rgba(112, 112, 112, 1);
}

.Pencil_Path {
    overflow: visible;
    position: absolute;
    width: 17.002px;
    height: 17.002px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Subject_Input_Class {
    position: absolute;
    width: 988.5px;
    height: 52.73px;
    left: 467px;
    top: 503px;
    overflow: visible;
}

.Container_c_Class {
    fill: rgba(48, 46, 53, 1);
}

.Container_c {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    position: absolute;
    overflow: visible;
    width: 1006.5px;
    height: 70.73px;
    left: 0px;
    top: 0px;
}

.Subject_Class {
    left: 450px;
    top: 9px;
    position: absolute;
    overflow: visible;
    width: 89px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: rgba(112, 112, 112, 1);
}

.Mail_Input_Class {
    position: absolute;
    width: 484px;
    height: 52.73px;
    left: 971.5px;
    top: 415px;
    overflow: visible;
}

.Container_db_Class {
    fill: rgba(48, 46, 53, 1);
}

.Container_db {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    position: absolute;
    overflow: visible;
    width: 502px;
    height: 70.73px;
    left: 0px;
    top: 0px;
}

.Your_Mail_ID_Class {
    left: 30.5px;
    top: 9px;
    position: absolute;
    overflow: visible;
    width: 149px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(112, 112, 112, 1);
}

.Name_Input_Class {
    position: absolute;
    width: 467.087px;
    height: 52.73px;
    left: 481.957px;
    top: 415px;
    overflow: visible;
}

.Container_de_Class {
    fill: rgba(48, 46, 53, 1);
}

.Container_de {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    position: absolute;
    overflow: visible;
    width: 485.087px;
    height: 70.73px;
    left: 0px;
    top: 0px;
}

.Your_Name_Class {
    left: 30.043px;
    top: 9px;
    position: absolute;
    overflow: visible;
    width: 143px;
    white-space: nowrap;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(112, 112, 112, 1);
}

.If_you_are_facing_any_issues_o_Class {
    left: 275px;
    top: 327px;
    position: absolute;
    overflow: visible;
    width: 1371px;
    white-space: nowrap;
    text-align: center;
    font-family: "Press Start 2P", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(246, 3, 159, 1);
}

.SUPPORT_Class {
    left: 789px;
    top: 232px;
    position: absolute;
    overflow: visible;
    width: 343px;
    white-space: nowrap;
    text-align: center;
    font-family: "Press Start 2P", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(246, 3, 159, 1);
}

.Burger_Class {
    position: fixed;
    width: 62.5px;
    height: 40px;
    left: 1643.5px;
    top: 50px;
    overflow: visible;
}

.Line_3_Class {
    fill: transparent;
    stroke: rgba(246, 3, 159, 1);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_3 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    overflow: visible;
    position: absolute;
    width: 88px;
    height: 26px;
    left: 0px;
    top: 40px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Line_2_Class {
    fill: transparent;
    stroke: rgba(246, 3, 159, 1);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_2 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    overflow: visible;
    position: absolute;
    width: 88px;
    height: 26px;
    left: 0px;
    top: 20px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Line_1_Class {
    fill: transparent;
    stroke: rgba(246, 3, 159, 1);
    stroke-width: 8px;
    stroke-linejoin: miter;
    stroke-linecap: round;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Line_1 {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 1));
    overflow: visible;
    position: absolute;
    width: 66px;
    height: 26px;
    left: 22.5px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.Join_Button_Class {
    position: absolute;
    width: 200px;
    height: 72.727px;
    left: 1354.5px;
    top: 44px;
    overflow: visible;
}

.Button_Class {
    fill: transparent;
    stroke: rgba(246, 3, 159, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Button {
    position: absolute;
    overflow: visible;
    width: 200px;
    height: 52.727px;
    left: 0px;
    top: 0px;
}

.JOIN_Class {
    left: 91.5px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 79px;
    white-space: nowrap;
    text-align: left;
    font-family: "Press Start 2P", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(246, 3, 159, 1);
}

.Login_Button_Class {
    position: absolute;
    width: 200px;
    height: 72.727px;
    left: 1050.5px;
    top: 44px;
    overflow: visible;
}

.Button_dq_Class {
    fill: transparent;
    stroke: rgba(246, 3, 159, 1);
    stroke-width: 3px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Button_dq {
    position: absolute;
    overflow: visible;
    width: 200px;
    height: 52.727px;
    left: 0px;
    top: 0px;
}

.LOGIN_Class {
    left: 85px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 99px;
    white-space: nowrap;
    text-align: left;
    font-family: "Press Start 2P", cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgb(250, 3, 164);
}

.Respawn_Logo_Class {
    position: absolute;
    width: 476px;
    height: 138px;
    left: 64px;
    top: 3px;
    overflow: visible;
}